.image{
    border : 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #888888;
    margin-left: 70px;
    margin-top: 5rem;
    margin-right: 40rem;
    text-align: center;
    display: flex;
    background-color: #DDE0FF;
}
 
.texte{
    margin-left: 80px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}
